/* -----------------------Create by Hoareau Brenda Marinasy----------------------- */

body{

}
section {
  background: none;
  margin-top: 5vh;


}
section img{
  width: 400px;
  height: 400px;
  margin-left: 5vw;
}
.description{
  width: 30vw;
  display: inline-block;
  vertical-align: top;
  margin-left: 1vw;

}
.achat{
  width: 30vw;
  height: 10vh;
  display: inline-block;
  vertical-align: top;
  background-color: grey;
  text-align: center;
  padding: 1vh;
  margin-top: 10vh;
}
header{
  height: 250px;
}
#accueil{
  width: 40px;
}
